body{
  font-family: 'Didot',Helmet,Freesans,sans-serif;
  background-color:rgb(162, 56, 68);
}

.header{
margin:0 auto;
padding:0;
}
.container{
  text-align: center;
}
.header h2{
  color: rgb(252, 252, 252);  
  line-height: 1em;
  letter-spacing: 1.5px;
}

.subscribe{
  margin-top: -1px;
}
.container a{
  float: none;
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 5px;
/*  font-family: GibsonBold;*/
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(252, 252, 252);  
  margin: 0 auto;
}
.video{
  text-align: center;
  margin-bottom: 2rem;
}
.vimeo{
  margin:0 auto;
}
.poly-design svg {
  position: relative;
  display:block;
}
.poly-black{
  z-index: 1;
  margin-bottom: -11.2%;
}

#mc_embed_signup{
  background-color: #fff;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

}
input[type="text"], input[type="email"]{
  width: 40%;
  max-width: 100%;
  height: 1em;
  background-color:#fff;
  border: none;
  border-bottom: 2px solid rgb(162, 56, 68);
  padding: 0.7rem;
  margin: 0 0 2em 0;
  color: #3c3c3c;
  font-size: 1.2rem;
  box-shadow: 0px 17px 50px -15px rgba(0,0,0,0.2);
  -webkit-appearance: background-color:#fff;
}
input[type="text"]:focus{
outline: none !important;
border-bottom: 2px solid rgb(162, 56, 68);
transition: all ease-in-out 400ms;
}
input[type="email"]:focus{
outline: none !important;
border-bottom: 2px solid rgb(162, 56, 68);
transition: all ease-in-out 400ms;
}
input[type="submit"], .button{
outline: none;
background-color: #fff;
border: 2px solid rgb(162, 56, 68);
text-align: center;
font-size: 1em;
text-decoration: none;
color: rgb(162, 56, 68);
padding: 1em 2em;
box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
cursor: pointer;
transition: all ease-in-out 300ms;
  

}
.button:hover{
    color:rgb(162, 56, 68);
    border: 2px solid rgb(162, 56, 68);
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -7px) scale(1.1);
}
.subscription{
  margin: 0 auto; 
}

.sponser{
  background-color: #fff;
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 3rem;
}
#img_cont {
  display: table;
  width: 90%;
  margin: 20px auto;
}

#img_cont {
  display: table-cell;
  text-align: center;
  width: 16%;
}

#img_cont img {
  margin:0.5rem;
  width: 100%;
  max-width: 150px;
}

footer{
  width:100%;
}


@import url(http://weloveiconfonts.com/api/?family=fontawesome);
 
.fa {
 width: 60px;
 display: block;
 text-align: center;
 color:#fff;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}
 
.bounce {
padding-top:1rem;
 /*border: 2px solid #990000;*/
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 /*border-radius:50%;*/
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}


/*RESPONSIVE*/

@media only screen and (max-width: 488px){
.header h1{
  font-size: 1rem;
  color: rgb(252, 252, 252);  
  line-height: 1em;
  margin: 2rem 10px;
  letter-spacing: 1.5px;
}
.header h2{
  color: rgb(252, 252, 252);  
  line-height: 1em;
  font-size: 1rem;
  margin-top: 1.3rem;
  letter-spacing: 1.5px;
}
.video{
  text-align: center;
  margin-bottom: 2rem;
}
.video iframe{
  width:100%;
}

input[type="text"], input[type="email"]{
  width: 70%;
  max-width: 100%;
  height: 1em;
  background-color:#fff;
  border: none;
  border-bottom: 2px solid rgb(162, 56, 68);
  padding: 0.7rem;
  margin: 0 0 2em 0;
  color: #3c3c3c;
  font-size: 1.2rem;
  box-shadow: 0px 17px 50px -15px rgba(0,0,0,0.2);
}
input[type="text"]:focus{
outline: none !important;
border-bottom: 2px solid rgb(162, 56, 68);
transition: all ease-in-out 400ms;
}
input[type="email"]:focus{
outline: none !important;
border-bottom: 2px solid rgb(162, 56, 68);
transition: all ease-in-out 400ms;
}
input[type="submit"], .button{
outline: none;
background-color: #fff;
border: 2px solid rgb(162, 56, 68);
text-align: center;
font-size: 1em;
text-decoration: none;
color: rgb(162, 56, 68);
padding: 1em 2em;
box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
cursor: pointer;
transition: all ease-in-out 300ms;
}

}

#social-media-links {
  background-color: white;
  font-size: 12vw;
  margin-top: -2px;
  /*margin: 0 auto;*/
  /*text-align: center; */
}

.fa-instagram {
  color: rgb(162, 56, 68);
  margin-right: 8vw;
  display: inline-block;
  vertical-align: bottom;
  line-height: 50px;
  text-align: center;
  position: relative;
  left: 27vw;
}

.fa-facebook-official {
  color: rgb(162, 56, 68);
  margin-left: 8vw;
  display: inline-block;
  vertical-align: bottom;
  line-height: 50px;
  position: relative;
  left: 33vw;
}

.centerWrapper:before {
    content:'';
    height: 100%;
    display: inline-block;
}

.center {
    display:inline-block;
}


